@model CST350Milestone.Models.CellModel

<button id="@Model.Row@Model.Column" class="game-button" type="submit" name="mine"  value="@Model.Row@Model.Column" data-valuex="@Model.Row" data-valuey="@Model.Column" style="height:50px;width:50px;vertical-align:top;" asp-controller="Game" asp-action="HandleButtonClick">
                                🚩
                            </button>