@model CST350Milestone.Models.BoardModel

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Game View</title>
    </head>
    <body>
        <div>
            <h1>Welcome to MineSweeper!</h1>
            <p>Start time: @DateTime.Now</p>
        </div>
        <div>
            <p>Current time: @DateTime.Now</p>
       <form>
           <div id="gameGrid">
           </div>
       </form>       
        </div>
        <button type="button" id="savegame" class="btn btn-outline-dark">Save Game</button>
        <button type="button" id="loadgame" class="btn btn-outline-dark">Load Game</button>
        <div id="gameTable">
        </div>

        <form class = 'card p-1'>
        <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gameDifficulty" value="VeryEasy" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
            Very Easy
        </label>
        </div>
        </div>

        <div class="form-group">
        <div class="form-check">
        <input class="form-check-input" type="radio" name="gameDifficulty" value="Easy" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
        Easy
        </label>
        </div>
        </div>

        <div class="form-group">
        <div class="form-check">
        <input class="form-check-input" type="radio" name="gameDifficulty" value="Medium" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
        Medium
        </label>
        </div>
        </div>

        <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gameDifficulty" value="Hard" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
        Hard
        </label>
        </div>

         <div class="form-group">
        <button type="button" id="newgame" class="btn btn-outline-dark">New Game</button>
        </div>
        </div>
        </form>

    </body>
</html>
