@model CST350Milestone.Models.BoardModel

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Game View</title>
    </head>
    <body>
        <div>
            <h1>Welcome to MineSweeper!</h1>
            <p>Start time: @DateTime.Now</p>
        </div>
        <div>
            <p>Current time: @DateTime.Now</p>
       <form>
           <div id="gameGrid">
           </div>
         </form>       
        </div>
        <div id="gameTable">
        </div>

    </body>
</html>
