@model CST350Milestone.Services.GameService

<html>
<body>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<table style="width:50%" class = "table table-striped" >
  <tr>
    <td>Moves: </td>
    <td>@Model.moveLabel</td>
  </tr>
  <tr>
      <td>Bombs: </td>
      <td>@Model.bombLabel</td>
  </tr>
  <tr>
      <td>Time Elapsed: </td>
      <td>@Model.timeLabel</td>
  </tr>
  <tr>
      <td>Game Result: </td>
      <td>@Model.GameResult</td>
  </tr>
</table>
</body>
</html>
