<head>
    <link href="~/css/HomeStyle.css" rel="stylesheet" runat="server" type="text/css"/>
</head>
<h4>Main Menu</h4>
<hr />
<div>
     <a href="@Url.Action("Index", "Login")" class="elements">
          <h3>Login</h3>
     </a>
     <br />
     <a href="@Url.Action("Index", "Registration")" class="elements">
          <h3>Register</h3>
     </a>
</div>
